@font-face
  font-family: 'baozou-icon'
  src:  url('../fonts/baozou-icon.eot?newk4j')
  src:  url('../fonts/baozou-icon.eot?newk4j#iefix') format('embedded-opentype'),
    url('../fonts/baozou-icon.ttf?newk4j') format('truetype'),
    url('../fonts/baozou-icon.woff?newk4j') format('woff'),
    url('../fonts/baozou-icon.svg?newk4j#baozou-icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'baozou-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-channel:before
  content: "\e900"

.icon-clock:before
  content: "\e901"

.icon-collect:before 
  content: "\e902"

.icon-comment:before 
  content: "\e903"

.icon-comment-side:before 
  content: "\e904"

.icon-download:before 
  content: "\e905"

.icon-home:before 
  content: "\e906"

.icon-night:before 
  content: "\e907"

.icon-omit:before 
  content: "\e908"

.icon-pancel:before 
  content: "\e909"

.icon-ranking .path1:before 
  content: "\e90a"
  color: rgb(255, 255, 255)

.icon-ranking:before 
  content: "\e90b"
  margin-left: -1em
  color: rgb(0, 0, 0)

.icon-ranking-side:before 
  content: "\e90c"

.icon-search:before 
  content: "\e90d"

.icon-bell:before 
  content: "\e90e"

.icon-setting:before 
  content: "\e90f"

.icon-side:before 
  content: "\e910"

.icon-support:before 
  content: "\e911"

